:root {
  --linkedin-bg: rgb(10, 102, 194, 0.9);
  --github-bg: rgb(24, 23, 23, 0.9);
  --whatsapp-bg: rgb(37, 211, 102, 0.9);
  --instagram-bg: rgb(193, 53, 132, 0.9);
  --text-bg-white-gradient: -webkit-linear-gradient(105deg, #cecece, #ffffff);
  --text-bg-black-gradient: -webkit-linear-gradient(105deg, #000000, #1d1d1d);
  --disabled-btns-color: #f5f5f5;

  --primary-text-color: #f5f5f5;
  --secondary-text-color: #1d1d1d;
  --primary-blue: #c2d4f0;
  --secondary-blue: #afcfff;
  --tertiary-blue: #87a2c9;
  --navbar-footer-bg-color: #fcfcfc;
  --navbar-shadow: 0 1px 5px 1px #d4e5ff;
  --footer-shadow: 0 -1px 5px 1px #d4e5ff;

  /* background gradient colors */
  --gradient-color-1: #f2f2fc;
  --gradient-color-2: #d6e6ff;

  --bg-theme: linear-gradient(
    var(--gradient-color-1),
    var(--gradient-color-2) 20%,
    var(--gradient-color-1) 90%
  );

  --secondary-bg-color: linear-gradient(
    135deg,
    #fff,
    var(--primary-blue) 50%,
    #fff 95%
  );

  /* background gradient colors */

  --form-fields-hover-bg-color: var(--tertiary-blue);
  --headings-color: -webkit-linear-gradient(#415161, #111);
  --cards-linear-gradient: linear-gradient(
    145deg,
    var(--secondary-blue) 0%,
    #e8eaee 40%,
    var(--secondary-blue) 95%
  );
  --cards-border-color: var(--tertiary-blue);
  --navbar-border-color: var(--secondary-blue);
  --link-btn-hover-color: var(--primary-blue);
  --btns-bg-color: #fff;

  --skill-segment-bg: var(--cards-linear-gradient);
  --first-skill-gradient: linear-gradient(90deg, #77889b, #3768a1);
  --second-skill-gradient: linear-gradient(90deg, #3768a1, #3280da);
  --third-skill-gradient: linear-gradient(90deg, #3280da, #1783ff);
  --projects-logo-bg: rgba(255, 255, 255, 0.5);
}

.dark {
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #fcfcfc;
  --primary-blue: #001636;
  --secondary-blue: #00245a;
  --tertiary-blue: #1b3255;
  --navbar-footer-bg-color: #111112;
  --navbar-shadow: 0 1px 5px 1px black;
  --footer-shadow: 0 -1px 5px 1px black;

  /* background gradient colors */
  --gradient-color-1: #0a0b0e;
  --gradient-color-2: #001636;

  --bg-theme: linear-gradient(
    var(--gradient-color-1),
    var(--gradient-color-2) 20%,
    var(--gradient-color-1) 90%
  );

  --secondary-bg-color: linear-gradient(135deg, black, #00183b 50%, black 95%);
  /* background gradient colors */

  --form-fields-hover-bg-color: var(--tertiary-blue);
  --headings-color: -webkit-linear-gradient(#fff, #38495a);
  --cards-linear-gradient: linear-gradient(
    145deg,
    #00183b,
    black 50%,
    #000d1f 75%,
    #00183b 90%
  );

  --cards-border-color: var(--tertiary-blue);
  --navbar-border-color: var(--secondary-blue);
  --link-btn-hover-color: var(--secondary-blue);
  --btns-bg-color: #000307;

  --skill-segment-bg: var(--cards-linear-gradient);
  --first-skill-gradient: linear-gradient(90deg, #ddd4f1, #784ae6);
  --second-skill-gradient: linear-gradient(90deg, #784ae6, #4714bd);
  --third-skill-gradient: linear-gradient(90deg, #4714bd, #4000d6);
  --projects-logo-bg: rgba(20, 20, 20, 0.4);
}
