@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(8px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-padding-top: 120px;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  background: var(--bg-theme);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  img,
  svg {
    display: block;
    max-width: 100%;
    height: auto;
  }

  svg {
    fill: var(--secondary-text-color);
  }

  a {
    text-decoration: none;
    color: var(--secondary-text-color);
  }

  ul {
    list-style: none;
    padding: 0;
  }

  &.fade-theme {
    animation: fade 0.7s ease-in-out backwards;
  }

  .btn {
    cursor: pointer;
    border-style: none;
    border: 1px solid var(--tertiary-blue);
    border-radius: var(--default-b-r);
    color: var(--secondary-text-color);
    font-weight: 500;
    background-color: var(--btns-bg-color);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover {
      background-color: var(--primary-blue);
      color: var(--secondary-text-color);
    }
  }
}

/* =========================
   Layout Utilities
   ========================= */

.container {
  width: min(95%, 1400px);
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: var(--space-0, 1.25rem);
}

.flex {
  display: flex;
  gap: var(--space-0, 1.25rem);
}

.flex-wrap {
  flex-wrap: wrap;
}

/* =========================
   General
   ========================= */

:root {
  --default-b-r: 10px;
  --sun-icon: url('data:image/svg+xml;utf8,<svg id="bright" fill="rgb(254, 159, 0)" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M450-751.54v-147.69h60v147.69h-60Zm242.92 100.77-41.15-41.15 103.15-106.54 42.54 43.15-104.54 104.54ZM751.54-450v-60h147.69v60H751.54ZM450-60.77v-147.31h60v147.31h-60ZM267.85-652.38 161.54-754.92l43.54-42.16 104.54 104.16-41.77 40.54Zm486.46 490.84L651.77-268.08l40.54-40.15 104.77 101.92-42.77 44.77ZM60.77-450v-60h147.69v60H60.77Zm143.92 288.46-41.77-43.54 103.16-103.15 21.69 20.46 22.08 21.08-105.16 105.15ZM480.09-260q-91.63 0-155.86-64.14Q260-388.28 260-479.91q0-91.63 64.14-155.86Q388.28-700 479.91-700q91.63 0 155.86 64.14Q700-571.72 700-480.09q0 91.63-64.14 155.86Q571.72-260 480.09-260Z"/></svg>');
  --moon-icon: url('data:image/svg+xml;utf8,<svg id="dark" fill="rgb(12, 49, 122)" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M481.15-140q-141.66 0-240.83-99.17-99.16-99.16-99.16-240.83 0-135.77 92.11-232.88 92.11-97.12 225.57-105.2 8.62 0 16.93.62 8.3.62 16.3 1.85-30.61 28.61-48.76 69.15-18.16 40.54-18.16 86.46 0 98.33 68.84 167.17Q562.82-424 661.15-424q46.54 0 86.77-18.15 40.23-18.16 68.46-48.77 1.23 8 1.85 16.31.61 8.3.61 16.92-7.69 133.46-104.8 225.57Q616.92-140 481.15-140Z"/></svg>');

  --space-0: 0;
  --space-1: clamp(0.5rem, 0.4rem + 0.3vw, 0.75rem);
  --space-2: clamp(0.75rem, 0.6rem + 0.5vw, 1rem);
  --space-3: clamp(1rem, 0.8rem + 0.8vw, 1.5rem);
  --space-4: clamp(1.5rem, 1.2rem + 1.2vw, 2rem);
  --space-5: clamp(2.5rem, 2rem + 2vw, 3.5rem);
  --space-6: clamp(2.8rem, 3rem + 3vw, 3.2rem);

  --space-xl: clamp(4rem, 3.5rem + 3.5vw, 6rem);

  --step-0: clamp(0.6rem, 0.85rem + 0.2vw, 1rem);
  --step-1: clamp(1.1rem, 0.95rem + 0.4vw, 1.3rem);
  --step-2: clamp(1.3rem, 1.1rem + 0.8vw, 1.5rem);
  --step-3: clamp(1.6rem, 1.3rem + 1vw, 2rem);
  --step-4: clamp(2.2rem, 1.5rem + 1.5vw, 3rem);
}

h1,
h2,
h3 {
  cursor: default;
  font-weight: 700;
  letter-spacing: 4px;
  background: var(--headings-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

h1 {
  font-size: var(--step-4);
  line-height: 1.2;
}

h2 {
  font-size: var(--step-3);
  line-height: 1.25;
}

h3 {
  font-size: var(--step-2);
  line-height: 1.3;
}

p {
  font-size: var(--step-0);
  max-width: 65ch;
}

#stars-container {
  width: 100%;
  position: fixed;
  inset: 0;
  overflow-x: hidden;
  z-index: -1;

  .star {
    position: absolute;
    background-color: white;
    border: 1px solid white;
    border-radius: 100%;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.4);
  }
}

.content-container {
  flex-direction: column;
  align-items: center;
}

.text-white-gradient,
.text-black-gradient {
  -webkit-text-fill-color: transparent;
}

.text-white-gradient {
  background: var(--text-bg-white-gradient);
  background-clip: text;
}

.text-black-gradient {
  background: var(--text-bg-black-gradient);
  background-clip: text;
}

/* =========================
   Header & Navigation
   ========================= */

#home {
  padding: var(--space-2) 0;
  height: 70px;
  width: 100%;
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--navbar-footer-bg-color);
  box-shadow: var(--navbar-shadow);
  backdrop-filter: blur(80px);
  z-index: 10;

  .navbar-container {
    flex-wrap: wrap;

    a {
      display: flex;
      transition: background-color 0.3s ease-in-out,
        -webkit-text-fill-color 0.3s ease-in-out,
        border-right-color 0.3s ease-in-out;
      padding: 15px;
      border-right: 1px solid var(--secondary-blue);

      &:last-child {
        border: none;
      }

      &:hover,
      &.active {
        background-color: var(--link-btn-hover-color);
        border-right-color: var(--link-btn-hover-color);
      }
    }
  }

  .lang-theme-container {
    position: fixed;
    display: flex;
    align-items: center;
    column-gap: 8px;
    right: 10px;
    padding: 10px;

    #theme-switch {
      margin-right: 10px;
      height: 30px;
      width: 60px;
      appearance: none;
      border-radius: 160px;
      background: rgba(217, 238, 238, 0.2);
      box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.1);
      position: relative;
      outline: none;
      cursor: pointer;
      transition: 0.8s;

      &::before {
        height: 30px;
        width: 30px;
        position: absolute;
        top: -0.6px;
        left: -1px;
        content: '';
        background: var(--sun-icon) center center no-repeat white;
        background-size: 90%;
        border: 1px solid rgba(254, 159, 0, 0.6);
        border-radius: 160px;
        transform: scale(0.9);
        transition: 0.5s;
      }

      &:checked {
        background: #1f1f1f;

        &::before {
          top: -0.6px;
          left: 31px;
          border: 1px solid var(--primary-blue);
          background: var(--moon-icon) center center no-repeat rgba(5, 5, 5, 1);
          background-size: 90%;
        }
      }
    }

    .language-menu {
      border: 1px solid transparent;
      border-radius: 100%;
      position: relative;
      width: 33px;
      height: 33px;
      cursor: pointer;

      .selected-language {
        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 32px;
          height: 32px;
          border-radius: 100%;
        }
      }

      ul {
        position: absolute;
        top: 35px;
        right: -5px;
        width: 40px;
        border: 1px solid transparent;
        border-radius: 160px;
        padding-top: 1px;
        opacity: 0;
        transform: translateY(-10px);
        visibility: hidden;
        transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;

        li {
          list-style: none;
          transition: transform 0.4s ease-in;

          a {
            display: block;
            padding: 2px 0;

            &::before {
              content: '';
              display: block;
              width: 35px;
              height: 35px;
              border: 1px solid transparent;
              border-radius: 100%;
            }

            &.pt::before {
              background: url('resources/brasil.svg') center center no-repeat;
            }

            &.en::before {
              background: url('resources/usa.svg') center center no-repeat;
            }
          }

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      &:hover ul {
        display: block;
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
      }

      .open ul {
        display: block;
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
      }
    }

    #selected-lang.lang-pt::before {
      background: url('resources/brasil.svg') center center no-repeat;
    }

    #selected-lang.lang-en::before {
      background: url('resources/usa.svg') center center no-repeat;
    }
  }

  .menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 20;

    span {
      display: block;
      height: 3px;
      width: 100%;
      background: var(--secondary-text-color);
      border-radius: 2px;
    }
  }
}

/* =========================
   Hero Section
   ========================= */

#hero {
  height: calc(100vh - 71px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-4) var(--space-2);

  h1 {
    margin-bottom: var(--space-3);
  }

  p {
    font-size: var(--step-1);
    text-align: center;
  }

  .scroll-down {
    position: absolute;
    bottom: 20px;
    animation: bounce 2s infinite;
    transition: color 0.4s ease-in-out;

    div {
      font-size: 13px;
      animation: fadeIn 2s linear infinite;
      color: var(--secondary-text-color);
    }

    .arrow {
      display: flex;
      flex-direction: row;
      justify-content: center;

      svg {
        width: 35px;
        height: 35px;
        fill: var(--secondary-text-color);
        transition: fill 0.4s ease-in-out;
        animation: fadeIn 2s linear infinite;
      }
    }

    &:hover {
      cursor: default;
    }
  }
}
/* hero */

/* =========================
   About Section
   ========================= */

#about {
  margin: var(--space-xl) var(--space-4);
  padding: var(--space-1);
  align-items: center;
  background: var(--secondary-bg-color);
  border-radius: var(--default-b-r);
  min-height: 0;

  .information-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
      'profile social'
      'text    social';
    row-gap: var(--space-2);
    border: 1px solid transparent;
    border-radius: var(--default-b-r);
    margin-left: 20px;

    .profile-pic {
      max-width: 250px;
      aspect-ratio: 1 / 1;

      img {
        width: 100%;
        height: 100%;
        border-radius: var(--default-b-r);
      }
    }

    .social-media-icons {
      display: flex;
      flex-direction: column;
      gap: var(--space-2);

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
      }

      a > svg {
        border-radius: var(--default-b-r);
        transition: fill 0.3s ease-in-out;
      }

      #linkedin {
        margin-top: 8px;
        width: 45px;
        height: 45px;

        a > svg {
          width: 40px;
          height: 40px;

          &:hover {
            fill: var(--linkedin-bg);
          }
        }
      }

      #github {
        width: 45px;
        height: 45px;

        a > svg {
          width: 40px;
          height: 40px;

          &:hover {
            fill: #8a8a8a;
          }
        }
      }

      #whatsapp {
        width: 45px;
        height: 45px;

        a > svg {
          width: 40px;
          height: 40px;

          &:hover {
            fill: var(--whatsapp-bg);
          }
        }
      }

      #instagram {
        width: 45px;
        height: 45px;

        a > svg {
          width: 40px;
          height: 40px;

          &:hover {
            fill: var(--instagram-bg);
          }
        }
      }
    }

    .personal-info-text {
      text-align: center;
      gap: 20px;
      cursor: default;

      p {
        font-size: var(--step-0);
        font-weight: 600;

        &:first-child {
          font-size: var(--step-1);

          padding: 5px 20px;
          font-weight: 700;
        }
      }
    }
  }

  .aboutme-container {
    width: min(65%, 950px);
    border: 1px solid transparent;
    margin: var(--space-3) var(--space-1);
    padding: var(--space-3);
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    p {
      text-align: left;
      max-width: 100%;
    }
  }
}

/* =========================
   Experience Section
   ========================= */

#experience {
  background: var(--secondary-bg-color);
  border-radius: var(--default-b-r);
  padding: var(--space-6) 0;
  margin: var(--space-4);
  gap: var(--space-2);
  overflow-x: hidden;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: start;

  h2 {
    margin: var(--space-2) 0 var(--space-6) 0;
  }

  .profession-container {
    border-right: 1px solid var(--tertiary-blue);
    padding: var(--space-3);
  }

  .education-container {
    padding: var(--space-3);
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: var(--space-4);
    margin-bottom: var(--space-4);
    align-items: flex-start;
    border: 1px solid var(--cards-border-color);
    border-radius: var(--default-b-r);
    background: var(--cards-linear-gradient);
    line-height: 1.5rem;

    .role,
    .university {
      font-size: clamp(1rem, 1.2vw, 1.1rem);
      font-weight: 700;
    }

    .company,
    .graduation-field {
      font-weight: 600;
    }

    .company,
    .role-summary,
    .start-end-date,
    .graduation-field,
    .graduation-date {
      font-size: clamp(0.8rem, 1vw, 0.9rem);
    }

    &:last-child {
      margin-bottom: 40px;
    }
  }
}

/* =========================
   Skills Section
   ========================= */

#skills {
  margin: var(--space-xl) 0;
  padding: var(--space-2);
  flex-direction: column;
  align-items: center;
  background: var(--secondary-bg-color);
  border-radius: var(--default-b-r);
  backdrop-filter: blur(80px);

  h2 {
    text-align: center;
    margin: var(--space-4) 0;
  }

  .skills-container {
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-1);
    margin-bottom: 20px;

    button {
      padding: clamp(11px, 1.5vw, 15px) clamp(20px, 3vw, 30px);

      &.active {
        background-color: var(--secondary-blue);
      }
    }
  }

  #skill-list-container {
    width: 100%;
    padding: 3rem 0;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px 10px;

    .skill {
      width: 100%;
      padding: clamp(10px, 2vw, 18px);
      border-radius: var(--default-b-r);
      background: var(--cards-linear-gradient);
      border: 1px solid var(--cards-border-color);
    }

    .skill-name {
      margin-bottom: 0.25rem;
      font-weight: 600;
      cursor: default;
    }

    .skill-bar {
      display: flex;
      gap: 4px;
      flex-wrap: wrap;
    }

    .segment {
      position: relative;
      flex: 0.7;
      min-width: 30px;
      max-width: 100px;
      height: 14px;
      overflow: hidden;
      background: var(--skill-segment-bg);
      border-radius: var(--default-b-r);
      transition: background-color 0.4s ease-in-out, box-shadow 0.3s ease-in-out;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 0%;
        height: 100%;
        transition: width 0.6s ease-in-out;

        z-index: 1;
      }

      &.filled {
        &:first-child::before {
          position: absolute;
          background: var(--first-skill-gradient);
        }

        &:nth-child(2)::before {
          position: absolute;
          background: var(--second-skill-gradient);
        }

        &:last-child::before {
          position: absolute;
          background: var(--third-skill-gradient);
        }

        &.animate::before {
          width: 100%;
        }
      }
    }
  }
}

/* =========================
   Projects Section
   ========================= */

#projects {
  margin: var(--space-4);
  padding: 3rem 0;
  flex-direction: column;
  align-items: center;
  background: var(--secondary-bg-color);
  border-radius: var(--default-b-r);

  .project-container {
    margin: var(--space-4);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
    border: 1px solid var(--tertiary-blue);
    border-radius: var(--default-b-r);
    background: var(--cards-linear-gradient);

    .project-item {
      border: 1px solid transparent;
      border-radius: var(--default-b-r);
      display: grid;
      grid-template-rows: auto 1fr;
      grid-template-columns: auto auto;
      gap: 0.75rem 1rem;
      padding: 1rem;
      max-width: 100%;
      width: min(100%, 900px);
      background: transparent;
      position: relative;

      .project-logo {
        border: 1px solid var(--tertiary-blue);
        background-color: var(--projects-logo-bg);
        border-radius: var(--default-b-r);
        width: 70px;
        height: 70px;
        padding: 5px;
        grid-row: span 2;
      }

      .project-title {
        margin: 0;
        font-weight: 600;
        font-size: 1.1rem;
        align-self: start;
      }

      .project-description {
        grid-column: 2 / -1;
        font-size: 0.95rem;
        margin: 0;
      }

      div {
        position: absolute;
        top: 5px;
        right: 10px;
        width: 20px;
        height: 20px;

        & svg {
          fill: none;

          path {
            &:nth-of-type(1) {
              stroke: var(--secondary-text-color);
            }
            &:nth-of-type(2) {
              stroke: var(--secondary-text-color);
            }
            &:nth-of-type(3) {
              stroke: var(--secondary-text-color);
            }
          }
        }
      }
    }
  }
}

/* =========================
   Contact Section
   ========================= */

#contact {
  margin: 4rem 0;
  padding: 2rem 1rem;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  p {
    cursor: default;
  }

  .contact-form-container {
    flex-direction: column;
    width: 100%;
    font-weight: 500;
    padding: 1.5rem;
    border-right: none;

    .contact-text {
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;

      h2 {
        margin-bottom: 1.2rem;
      }

      p {
        font-size: 1.1rem;
        text-align: center;
      }
    }

    .contact-form {
      flex-direction: column;
      align-items: center;
      row-gap: 2rem;
      width: 100%;

      .name-email,
      .subject,
      .message {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;

        input {
          flex: 1;
        }

        input,
        textarea {
          border: none;
          border-bottom: 1px solid var(--tertiary-blue);
          color: var(--secondary-text-color);
          transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
          background-color: transparent;
          backdrop-filter: blur(3px);
          width: 100%;
          max-width: 100%;
          padding: 10px;
          font-size: 1rem;

          &::placeholder {
            color: var(--secondary-text-color);
          }

          &:focus,
          &:hover {
            outline: none;
            background-color: var(--form-fields-hover-bg-color);

            &::placeholder {
              color: var(--secondary-text-color);
            }
          }
        }
      }

      .name-email {
        input {
          min-width: 270px;
        }
      }

      .message {
        textarea {
          min-height: 100px;
          max-height: 300px;
          resize: vertical;
        }
      }

      .contact-btns {
        justify-content: center;
        align-items: center;
        gap: 1rem;

        button {
          padding: 12px 24px;
          transition: 0.4s ease-in-out;

          &:disabled {
            opacity: 0.4;
            background-color: #1d1d1d;
            color: var(--disabled-btns-color);
            cursor: not-allowed;
          }
        }
      }
    }
  }

  .available-contacts {
    display: flex;
    gap: 2rem;
    padding: 0;
    max-width: 1000px;

    .divider {
      width: 100%;
      height: 1px;
      background-color: var(--tertiary-blue);
      position: absolute;
      bottom: -27px;
    }

    .phone,
    .email,
    .address {
      display: flex;
      align-items: center;
      margin: 0.5rem;
      position: relative;

      .icon {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        border: 1px solid var(--tertiary-blue);
        border-radius: var(--default-b-r);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        svg {
          width: 85%;
          height: 85%;
          fill: var(--secondary-text-color);
        }
      }

      .text-container {
        p {
          font-size: 0.8rem;
        }
      }
    }

    .phone,
    .email {
      & p:last-child {
        cursor: text;
      }
    }

    .phone {
      svg {
        width: 42px;
        height: 42px;
        top: 2px;
        left: 3px;
      }
    }

    .email {
      svg {
        width: 38px;
        height: 38px;
        top: 5px;
        left: 5px;
      }
    }

    .address {
      svg {
        width: 36px;
        height: 36px;
        top: 6px;
        left: 6px;
      }
    }
  }
}

footer {
  width: 100%;
  cursor: default;
  padding: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--navbar-footer-bg-color);
  box-shadow: var(--footer-shadow);
  backdrop-filter: blur(80px);
}

@media (max-width: 1138px) {
  #experience {
    .education-container {
      & article:first-of-type {
        margin-top: 91px;
      }
    }
  }
}

@media (max-width: 969px) {
  #home {
    .menu-toggle {
      display: flex;
      position: absolute;
      left: 2%;
      top: 50%;
      transform: translateY(-50%);

      span {
        background-color: var(--secondary-text-color, #fff);
      }
    }

    .navbar-container {
      position: fixed;
      width: calc(100% / 2);
      top: 0;
      left: 0;
      right: 0;
      border-bottom-left-radius: var(--default-b-r);
      border-bottom-right-radius: var(--default-b-r);
      background-color: var(--navbar-footer-bg-color);
      flex-direction: column;
      align-items: flex-start;
      transform: translateY(-100%);
      transition: transform 0.3s ease-in-out;

      &.open {
        transform: translateY(0);
        z-index: 888;
        top: 70px;
        width: 100%;
        max-width: 250px;
      }

      a {
        width: 100%;
        font-size: var(--step-1);
        border: none;

        &:last-child {
          &:hover {
            border-bottom-left-radius: var(--default-b-r);
            border-bottom-right-radius: var(--default-b-r);
          }
        }
      }
    }

    .lang-theme-container {
      .open ul {
        display: block;
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
      }
    }
  }
}

@media (max-width: 768px) {
  #projects {
    .project-item {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
    }

    .project-logo {
      margin: 0 auto;
      grid-row: auto;
      grid-column: auto;
    }

    .project-title {
      margin-top: 0.5rem;
    }

    .project-description {
      margin-top: 0.5rem;
      grid-column: 1 / -1;
    }
  }
}

@media (max-width: 645px) {
  #experience {
    .profession-container {
      border-right: unset;
    }

    .education-container {
      h2 {
        border-top: 1px solid var(--tertiary-blue);
        padding-top: var(--space-5);
      }
    }
  }
}

@media (min-width: 768px) {
  #contact {
    flex-direction: row;
    align-items: center;

    .contact-form-container {
      border-right: 1px solid var(--tertiary-blue);
    }

    .available-contacts {
      max-width: 300px;
      margin-left: -20px;
    }
  }
}

@media (max-width: 499px) {
  #skills {
    #skill-list-container {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      column-gap: 5px;

      .skill {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1013px) {
  #about {
    .information-container {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;

      .profile-pic {
        min-width: 200px;
        max-width: 220px;
      }

      .social-media-icons {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin-bottom: 0.85rem;

        div {
          margin-left: 0;
        }

        #linkedin {
          margin-top: 0;
        }
      }
    }
  }
}

@media (max-width: 829px) {
  #about {
    flex-direction: column;

    .information-container {
      margin-left: 0;

      .social-media-icons {
        gap: var(--space-2);
        margin-bottom: 0;
      }
    }

    .aboutme-container {
      width: 100%;
    }
  }
}

@media (max-width: 680px) {
  #projects {
    .project-container {
      .project-item {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;

        .project-logo {
          grid-column: 1;
          grid-row: 1;
        }

        .project-title {
          grid-column: 2;
          grid-row: 1;
          width: 90%;
          text-align: center;
        }

        .project-description {
          grid-column: 1 / span 2;
          grid-row: 2;
        }
      }
    }
  }
}
